/* FOOTER */
.footer {
	border-top: 1px solid rgba(#66696a, 0.1);
	font-size: 14px;
	line-height: 114%;
	color: var(--gray-color);
	width: 100%;
	position: relative;
	margin-top: auto;
}
.footer__body {
	display: flex;
	justify-content: space-between;
	padding: 14px 14px 25px 53px;
}
.footer__copy {
	letter-spacing: 0.3px;
}
.footer__support {
	display: flex;
	align-items: center;
}
.support-footer__label {
	margin: 0 16px 0 0;
	letter-spacing: 0.3px;
}
.support-footer__phone {
	color: var(--gray-color);
	letter-spacing: 0.03px;
}
