/* HEADER */
.header {
	width: 100%;
	min-height: var(--header-height);
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--common-bgcolor);
	padding: 0 42px 0 calc(var(--aside-width) + 24px);
	z-index: var(--z-fixed);
	transition: all 0.5s linear 0s;;
}
.header.active{
	padding-left: calc(var(--aside-width) + 264px);
}
.header__row{
	padding: 35px 0 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__user {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--gray-color);
	min-height: 18px;
}
.user-header__icon {
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.user-header__name {
	margin: 0 0 0 12px;
	letter-spacing: 0.3px;
}
.header__menu {
	padding: 0 17px 0 0;
	flex: 1 1 auto;
}
.menu-header__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.menu-header__link {
	display: inline-block;
	font-size: 14px;
	color: var(--gray-color);
	padding: 10px 18px;
	border-radius: 8px;
	&.active{
		background-color: var(--white-color);
		font-weight: 700;
	}
}