/* SIDEBAR */
.aside{
	position: fixed;
	top: 0;
	left: 0;
	width: var(--aside-width);
	height: 100vh;
	background-color: var(--common-bgcolor);
	transition: all .5s linear 0s;
	z-index: var(--z-fixed);
	padding: 36px 0 36px;
	border-right: 1px solid rgba(#000000, 0.1);
	overflow-y: auto;
	overflow-x: hidden;
}
.aside.active {
	width: calc(var(--aside-width) + 240px);
	left: 0;
}
.aside.active .menu__text{
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.aside.active .menu__link,
.aside.active .menu-dropdown__link{
	pointer-events: all;
	opacity: 1;
	visibility: visible;
}
.aside.active .menu-dropdown__link.current {
	background: var(--white-color);
}
.aside.active .menu-dropdown .menu-dropdown__link:not(.current){
	opacity: 0.5;
}
.aside.active .menu__link-settings{
	opacity: 0.5;
}
.aside.active .menu__arrow{
	opacity: 1;
}
.aside.active .menu__icon,
.aside.active .logo__circle{
	transform: translateX(0);
}
.aside.active .logo__text{
	opacity: 1;
	pointer-events: all;
}
.aside__close{
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 16px;
	right: 14px;
	cursor: pointer;
	background: none;
	transition: transform .5s ease 0s;
}
.aside__close.active{
	transform: rotate(225deg);
}
.aside__logo{
	display: flex;
	align-items: center;
	padding: 0 88px 40px 66px;
}
.logo__circle{
	margin: 0 8px 0 0;
	transform: translateX(-6px);
}
.logo__circle{
	transition: transform .25s linear 0s;
}
.logo__circle,
.logo__text{
	display: inline-block;
	white-space: nowrap;
}
.logo__text{
	opacity: 0;
	pointer-events: none;
	transition: all .25s linear .25s;
}
.aside__menu {}
.menu {}
.menu__list {
	display: flex;
	flex-direction: column;
	& li{
		width: 100%;
	}
}
.menu__item-heading{
	padding-left: 36px;
	display: flex;
	align-items: center;
	transition: all .35s linear .15s;
	&.current{
		background: var(--white-color);
	}
}
.menu__link {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	align-items: start;
	padding: 11px 24px 12px 0px;
	min-height: 48px;
	width: 100%;
	color: var(--main-color);
	cursor: pointer;
	pointer-events: none;
	transition: all .25s linear 0s;
	&.active{
		background: var(--white-color);
		font-weight: 700;
	}
}
.menu__link-current{
	background: var(--white-color);
	transition: all .2s ease .2s;
}
.aside.active .menu__item-heading.current{
	background: transparent;
}
.menu__link-settings {
	opacity: 0.5;
	padding-left: 60px;
}
.menu__link.active .menu__text{
	letter-spacing: -0.4px;
}
.menu__link .menu__arrow{
	transform: rotate(0deg);
}
.menu__link.collapsed .menu__arrow{
	transform: rotate(-90deg);
}
.menu__icon {
	flex: 0 0 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 24px;
	padding: 0 32px 0 32px;
	transition: transform .25s linear 0s;
	transform: translateX(-6px);
}
.menu__text {
	font-size: 16px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	white-space: nowrap;
	padding: 5px 15px 0 0;
	letter-spacing: 0.01px;
	transition: all .5s ease .25s;
}
.menu__arrow {
	position: relative;
	top: 4px;
	right: -2px;
	width: 16px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	transition: transform .15s ease-in 0s, opacity .3s linear .25s;
	transform: rotate(-90deg);
	opacity: 0;
}
.dropdown__menu {}

.menu-dropdown {
}

.menu-dropdown__list {
	& li{
		width: 100%;
	}
}
.menu-dropdown__link {
	display: inline-block;
	padding: 0 0 0 124px;
	width: 100%;
	font-size: 16px;
	min-height: 48px;
	display: flex;
	align-items: center;
	color: var(--main-color);
	opacity: 0.5;
	// opacity: 0;
	visibility: visible;
	pointer-events: all;
	transition: all .5s ease 0s;
	letter-spacing: 0.01px;
	white-space: nowrap;
}
.menu-dropdown__link .menu__text{
	padding: 0;
}
.menu-dropdown__link.current {
	background: transparent;
	font-weight: 700;
	letter-spacing: -0.2px;
}
.menu-dropdown-settings .menu-dropdown__link {
	padding-left: 156px;
}