@use "sass:math";
//<МИКСИНЫ>===============================================================================================
// @import "_mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "_fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "_fonticons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Beeline Sans", sans-serif;
$fontWeight: 400;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
// @import "_variables.scss"
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$fontSize: 16px;

:root{
	/* SIZES */
	--fonz-size: 16px;
	--aside-width: 160px;
	--z-fixed: 100;
	--header-height: 80px;
	--font-weight: 400;
	--font-family: "Beeline Sans", sans-serif;

	/* COLORS */
	--common-bgcolor: #F3F3F3;
	--main-color: #25282A;
	--white-color: #FFFFFF;
	--black-color: #000000;
	--gray-color: #66696A;
	--gray-color-dbl: #8F9192;
	--gray-color-light: #CACACA;
	--gray-color-blond: #A5A6A6;
	--gray-color-dark: #595B5C;
	--yellow-color: #FED305;
	--blue-color: #3F9FE4;
	--pink-number-color:#E4A6A6;
	--brown-number-color:#E4C8A6;
	--purple-number-color:#A6B3E4;
	--azure-number-color:#A6E1E4;
	--green-number-color:#95F0A9;
	--volcano-color: #FF7A45;
	--golden-purple: #9254DE;
	--red-color: #EF2525;

	/* WORDS COLOR */
	--circle-gray-light: #E8E8E8;
	--circle-gray-mid: #C5C5C5;
	--circle-gray-dark: #8E8E8E;
	--circle-purple: #7A81B0;
	--circle-purple-light: #9CA3CE;
	--circle-green-light: #BAE637;
	--circle-yellow: #FADB14;
	--circle-orange: #FF7A45;
	--circle-blue: #69C0FF;
	--circle-pink: #FFA39E;
	--circle-azure: #87E8DE;
	/* MESSAGES RECORD */
	--message-yellow-light: #FFEFA5;
	--message-gray-light: #F3F3F3;
	/* SCROLLBAR */
	--scrollbar-color: #F3F3F3;
	--scrollbar-thumb-color: #A5A6A6;
}

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null";

body {
	position: relative;
	font-size: var(--font-size);
	color: var(--main-color);
	font-weight: var(--font-weight);
	font-family: var(--font-family);
	background: var(--common-bgcolor);
	&.lock {
		overflow: hidden;
	}
	
	// transition: all 0.5s linear 0s;
}
// .body-pd{
// 
// }
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	transition: all .5s linear 0s;
	padding-left: calc(var(--aside-width) + 24px);
	overflow: hidden;
	&.active{
		padding-left: calc(var(--aside-width) + 264px);
	}
}
.main{
	flex: 1 1 auto;
	padding-top: calc(var(--header-height) + 28px);
	padding-right: 24px;
	transition: all 0.5s linear 0s;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "_select";
@import "_range";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "_header";
@import "_footer";
@import "_sidebar";
@import "_home";
@import "_common";
@import "_modals";
@import "_chart";
@import "_datepicker";
@import "_media";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//===================================================================================================================================


//</ОСНОВНОЙ БЛОК>====================================================================================================
